# 회귀분석을 위한 데이터 전처리

## X : 방송, 서울(dummy), 계절, 방영전 포스팅수
## Y : 방송 후 포스팅 증가수

In [3]:
import pandas as pd
import numpy as np

### 서울, 방영월 칼럼 추가

서울, 방영월 칼럼이 있는 데이터프레임을 따로 만들고, 기존의 데이터프레임에 합치는 것으로 진행

In [4]:
suyo = pd.read_csv('raw_data/suyo_list2017.csv')

In [5]:
mot = pd.read_csv('raw_data/mot_list2017.csv')

In [6]:
sang1 = pd.read_csv('raw_data/sang_list2017_1.csv')

In [7]:
sang2 = pd.read_csv('raw_data/sang_list2017_2.csv')

In [8]:
suyo.head()

,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소
0,99,수요미식회,"'20161006',","'20170104',","'20170404',",오통영,"'오통영',",한식,청담/압구정/이촌,1,"'오통영':'청담/압구정/이촌',",서울특별시 강남구 선릉로158길 10 한나빌딩 지하2층
1,99,수요미식회,"'20161006',","'20170104',","'20170404',",안동장,"'안동장',",중식당,을지로,1,"'안동장':'을지로',",서울특별시 중구 을지로 124
2,100,수요미식회,"'20161013',","'20170111',","'20170411',",평양집,"'평양집',",곱창,용산/삼각지/이태원,1,"'평양집':'용산/삼각지/이태원',",서울특별시 용산구 한강대로 186
3,100,수요미식회,"'20161013',","'20170111',","'20170411',",까사디노아,"'까사디노아',",양식,연남동,1,"'까사디노아':'연남동',",서울 마포구 연남동 257-8 1층
4,103,수요미식회,"'20161103',","'20170201',","'20170502',",덕자네 방앗간,"'덕자네 방앗간',",분식,신논현/강남/압구정/서초,1,"'덕자네 방앗간':'신논현/강남/압구정/서초',",서울특별시 서초구 사평대로56길 7

In [9]:
suyo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 12 columns):
회차        84 non-null int64
방송명       84 non-null object
시작        84 non-null object
방영일       84 non-null object
끝         84 non-null object
식당        84 non-null object
입력 데이터    84 non-null object
업종        84 non-null object
위치        84 non-null object
서울        84 non-null int64
tidy      84 non-null object
주소        84 non-null object
dtypes: int64(2), object(10)
memory usage: 8.0+ KB

In [10]:
mot.head()

,회차,방송명,식당,주소,시작,방영일,끝,위치,tidy,서울
0,98,맛있는 녀석들,내호냉면,부산시 남구 우암동 189-671,"'20161008',","'20170106',","'20170406',",부산,"'내호냉면' : '부산',",0
1,98,맛있는 녀석들,한방장어구이,부산시 해운대구 중동 1396-59,"'20161008',","'20170106',","'20170406',",부산,"'한방장어구이' : '부산',",0
2,99,맛있는 녀석들,김영자 나주곰탕,서울 관악구 신림동 110-6,"'20161015',","'20170113',","'20170413',",신림,"'김영자 나주곰탕' : '신림',",1
3,99,맛있는 녀석들,강촌원조쭈꾸미,서울 서초구 양재동 11-6,"'20161015',","'20170113',","'20170413',",양재,"'강촌원조쭈꾸미' : '양재',",1
4,100,맛있는 녀석들,바다회사랑,서울 마포구 서교동 352-1,"'20161105',","'20170203',","'20170504',",홍대/연남/마포,"'바다회사랑' : '홍대/연남/마포',",1

In [11]:
mot.tail()

,회차,방송명,식당,주소,시작,방영일,끝,위치,tidy,서울
75,145,맛있는 녀석들,큰손참붕어찜,경기 김포시 양촌읍 김포대로 1685번길 46,"'20170902',","'20171201',","'20180301',",김포,"'큰손참붕어찜' : '김포',",0
76,146,맛있는 녀석들,나폴레옹 과자점,서울 성북구 성북로 7,"'20170909',","'20171208',","'20180308',",성북,"'나폴레옹 과자점' : '성북',",1
77,146,맛있는 녀석들,류재은베이커리,경기도 파주시 탄현면 요풍길 265,"'20170909',","'20171208',","'20180308',",파주,"'류재은베이커리' : '파주',",0
78,147,맛있는 녀석들,시청/서초/강남/신당/왕십리/신논현/중구/상계/서대문/천안/노원/상계/마포/공덕/선...,광주광역시 동구 충장로 93-6,"'20170916',","'20171215',","'20180315',",광주,'시청/서초/강남/신당/왕십리/신논현/중구/상계/서대문/천안/노원/상계/마포/공덕/...,0
79,147,맛있는 녀석들,크롬방제과,전라남도 목포시 노적봉길 9,"'20170916',","'20171215',","'20180315',",목포,"'크롬방제과' : '목포',",0

In [12]:
mot = mot.drop([78, 79])
mot.tail()

,회차,방송명,식당,주소,시작,방영일,끝,위치,tidy,서울
73,144,맛있는 녀석들,건대황소곱창,서울 광진구화양동 9-24,"'20170826',","'20171124',","'20180222',",건대/화양,"'건대황소곱창' : '건대/화양',",1
74,145,맛있는 녀석들,박승광손칼국수,경기도 김포시 김포한강4로 211-43,"'20170902',","'20171201',","'20180301',",김포,"'박승광손칼국수' : '김포',",0
75,145,맛있는 녀석들,큰손참붕어찜,경기 김포시 양촌읍 김포대로 1685번길 46,"'20170902',","'20171201',","'20180301',",김포,"'큰손참붕어찜' : '김포',",0
76,146,맛있는 녀석들,나폴레옹 과자점,서울 성북구 성북로 7,"'20170909',","'20171208',","'20180308',",성북,"'나폴레옹 과자점' : '성북',",1
77,146,맛있는 녀석들,류재은베이커리,경기도 파주시 탄현면 요풍길 265,"'20170909',","'20171208',","'20180308',",파주,"'류재은베이커리' : '파주',",0

In [13]:
mot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 0 to 77
Data columns (total 10 columns):
회차      78 non-null int64
방송명     78 non-null object
식당      78 non-null object
주소      78 non-null object
시작      78 non-null object
방영일     78 non-null object
끝       78 non-null object
위치      78 non-null object
tidy    78 non-null object
서울      78 non-null int64
dtypes: int64(2), object(8)
memory usage: 6.7+ KB

In [14]:
sang1.head()

,회차,시작,방영일,끝,식당,입력 데이터,메뉴,위치,tidy,주소,서울
0,428.0,"'20161005',","'20170103',","'20170403',",대풍만두,"'대풍만두',","흑미찐빵, 복분바찐빵",안동,"'대풍만두' :'안동' ,",경북 안동시 번영길 21,0
1,431.0,"'20161008',","'20170106',","'20170406',",큰바다해물아구찜,"'큰바다해물아구찜',","아찜탕, 아구찜, 갈비찜",일산/파주,"'큰바다해물아구찜' :'일산/파주' ,",경기 고양시 일산동구 고봉로 686,0
2,435.0,"'20161014',","'20170112',","'20170412',",여인천하조개구이,"'여인천하조개구이',","조개구이, 바닷가재",인천/을왕리/영종도,"'여인천하조개구이' :'인천/을왕리/영종도' ,",인천 중구 마시란로 107-11,0
3,436.0,"'20161015',","'20170113',","'20170413',",제일정육정식당,"'제일정육정식당',","삼겹살, 목살",용문/오산,"'제일정육정식당' :'용문/오산' ,",경기 오산시 오산로 164,0
4,447.0,"'20161103',","'20170201',","'20170502',",칡산에,"'칡산에',",칡문어보쌈&칡칼국수,원주,"'칡산에' :'원주' ,",강원도 원주시 금불4길 25-5,0

In [15]:
sang1['방송명'] = '생생정보'
sang2['방송명'] = '생생정보'

In [16]:
df1 = pd.concat([suyo, mot, sang1, sang2], sort = False)

In [17]:
df1.tail()

,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소,메뉴
39,660.0,생생정보,"'20170912',","'20171211',","'20180311',",이태원 우육미엔,"'이태원 우육미엔',",NaN,이태원/한남,1,"'이태원 우육미엔' :'이태원/한남' ,",서울 용산구 이태원로55가길 26-8,아시안요리
40,666.0,생생정보,"'20170920',","'20171219',","'20180319',",푸른초장,"'푸른초장',",NaN,충정,1,"'푸른초장' :'충정' ,",서울 서대문구 충정로 43-4,막국수
41,666.0,생생정보,"'20170920',","'20171219',","'20180319',",어부네 횟집,"'어부네 횟집',",NaN,마포,1,"'어부네 횟집' :'마포' ,",서울 마포구 용강동 114-20,일식당
42,670.0,생생정보,"'20170926',","'20171225',","'20180325',",철판패밀리,"'철판패밀리',",NaN,의정부,0,"'철판패밀리' :'의정부' ,",경기 의정부시 의정부동 182-16,NaN
43,670.0,생생정보,"'20170926',","'20171225',","'20180325',",해신247,"'해신247',",NaN,아주/거제,0,"'해신247' :'아주/거제' ,",경남 거제시 아주1로2길 48,일식당

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246 entries, 0 to 43
Data columns (total 13 columns):
회차        244 non-null float64
방송명       246 non-null object
시작        246 non-null object
방영일       246 non-null object
끝         246 non-null object
식당        246 non-null object
입력 데이터    168 non-null object
업종        84 non-null object
위치        246 non-null object
서울        246 non-null int64
tidy      246 non-null object
주소        246 non-null object
메뉴        78 non-null object
dtypes: float64(1), int64(1), object(11)
memory usage: 26.9+ KB

In [19]:
df1 = df1.reset_index()
df1.head()

,index,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소,메뉴
0,0,99.0,수요미식회,"'20161006',","'20170104',","'20170404',",오통영,"'오통영',",한식,청담/압구정/이촌,1,"'오통영':'청담/압구정/이촌',",서울특별시 강남구 선릉로158길 10 한나빌딩 지하2층,NaN
1,1,99.0,수요미식회,"'20161006',","'20170104',","'20170404',",안동장,"'안동장',",중식당,을지로,1,"'안동장':'을지로',",서울특별시 중구 을지로 124,NaN
2,2,100.0,수요미식회,"'20161013',","'20170111',","'20170411',",평양집,"'평양집',",곱창,용산/삼각지/이태원,1,"'평양집':'용산/삼각지/이태원',",서울특별시 용산구 한강대로 186,NaN
3,3,100.0,수요미식회,"'20161013',","'20170111',","'20170411',",까사디노아,"'까사디노아',",양식,연남동,1,"'까사디노아':'연남동',",서울 마포구 연남동 257-8 1층,NaN
4,4,103.0,수요미식회,"'20161103',","'20170201',","'20170502',",덕자네 방앗간,"'덕자네 방앗간',",분식,신논현/강남/압구정/서초,1,"'덕자네 방앗간':'신논현/강남/압구정/서초',",서울특별시 서초구 사평대로56길 7,NaN

In [20]:
df1 = df1.drop(['index'], axis=1)
df1.tail()

,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소,메뉴
241,660.0,생생정보,"'20170912',","'20171211',","'20180311',",이태원 우육미엔,"'이태원 우육미엔',",NaN,이태원/한남,1,"'이태원 우육미엔' :'이태원/한남' ,",서울 용산구 이태원로55가길 26-8,아시안요리
242,666.0,생생정보,"'20170920',","'20171219',","'20180319',",푸른초장,"'푸른초장',",NaN,충정,1,"'푸른초장' :'충정' ,",서울 서대문구 충정로 43-4,막국수
243,666.0,생생정보,"'20170920',","'20171219',","'20180319',",어부네 횟집,"'어부네 횟집',",NaN,마포,1,"'어부네 횟집' :'마포' ,",서울 마포구 용강동 114-20,일식당
244,670.0,생생정보,"'20170926',","'20171225',","'20180325',",철판패밀리,"'철판패밀리',",NaN,의정부,0,"'철판패밀리' :'의정부' ,",경기 의정부시 의정부동 182-16,NaN
245,670.0,생생정보,"'20170926',","'20171225',","'20180325',",해신247,"'해신247',",NaN,아주/거제,0,"'해신247' :'아주/거제' ,",경남 거제시 아주1로2길 48,일식당

In [21]:
df1 = df1[['식당', '방영일', '서울']]

In [22]:
df1.head()

        식당           방영일  서울
0      오통영  '20170104',    1
1      안동장  '20170104',    1
2      평양집  '20170111',    1
3    까사디노아  '20170111',    1
4  덕자네 방앗간  '20170201',    1

In [23]:
def get_month_from_b_date(df_column):
    b_date = []
    for data in df_column:
        if data[5] == '0':
            month = data[6]
        else:
            month = data[5:7]
        single_date = int(month)
        b_date.append(single_date)

    return pd.Series(b_date)

In [24]:
df1['방영월'] = get_month_from_b_date(df1['방영일'])
df1.head()

        식당           방영일  서울  방영월
0      오통영  '20170104',    1    1
1      안동장  '20170104',    1    1
2      평양집  '20170111',    1    1
3    까사디노아  '20170111',    1    1
4  덕자네 방앗간  '20170201',    1    2

In [25]:
df1 = df1.drop(['방영일'], axis=1)
df1.tail()

           식당  서울  방영월
241  이태원 우육미엔   1   12
242      푸른초장   1   12
243    어부네 횟집   1   12
244     철판패밀리   0   12
245     해신247   0   12

In [26]:
df1.to_csv('raw_data/list2017.csv', index=False)

In [27]:
sang3 = pd.read_csv('raw_data/sang_list2018.csv')
suyo1 = pd.read_csv('raw_data/suyo_list2018.csv')
mot1 = pd.read_csv('raw_data/mot_list2018.csv')

In [28]:
sang3.tail()

,회차,시작,방영일,끝,식당,입력 데이터,메뉴,주소,서울,tidy,위치
23,NaN,"'20180106',","'20180406',","'20180705',",꽃지꽃게집,"'꽃지꽃게집',",게국지 정식,충남 태안군 안면읍 안면대로 3020,0,"'꽃지꽃게집' :'태안/안면도' ,",태안/안면도
24,NaN,"'20180113',","'20180413',","'20180712',",복돈기사식당,"'복돈기사식당',",장어덮밥,서울시 송파구 삼전동 36-8번지,1,"'복돈기사식당' :'사전' ,",사전
25,NaN,"'20180113',","'20180413',","'20180712',",가마솥손두부,"'가마솥손두부',","청국장, 두부보쌈",서울 동작구 남부순환로 271길 20,1,"'가마솥손두부' :'사당/대방' ,",사당/대방
26,NaN,"'20180131',","'20180501',","'20180730',",금돼지식당,"'금돼지식당',",삼겹살,서울 중구 다산로 149 금돼지식당,1,"'금돼지식당' :'중구' ,",중구
27,NaN,"'20180131',","'20180501',","'20180730',",목포명가,"'목포명가',",멍게비빔밥,서울 강남구 삼성로100길 23-22 목포명가,1,"'목포명가' :'강남/삼성' ,",강남/삼성

In [29]:
suyo1.tail()

,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소
19,164,수요미식회,"'20180104',","'20180404',","'20180703',",먹거리양곱창,"'먹거리양곱창',",한식,서초/신사,1,"'먹거리양곱창':'서초/신사',",서울 서초구 강남대로99길 35
20,165,수요미식회,"'20180111',","'20180411',","'20180710',",우동가조쿠,"'우동가조쿠',",일식,행당/한양대,1,"'우동가조쿠':'행당/한양대',",서울 성동구 왕십리로 215-1
21,165,수요미식회,"'20180111',","'20180411',","'20180710',",미타우동,"'미타우동',",일식,삼전/잠실,1,"'미타우동':'삼전/잠실',",서울 송파구 삼전로12길 4
22,168,수요미식회,"'20180201',","'20180502',","'20180731',",고암식당,"'고암식당',",한식,이태원,1,"'고암식당':'이태원',",서울 용산구 이태원로27가길 5
23,168,수요미식회,"'20180201',","'20180502',","'20180731',",대우부대찌개,"'대우부대찌개',",한식,역삼/강남,1,"'대우부대찌개':'역삼/강남',",서울 강남구 테헤란로25길 34

In [30]:
mot1.tail()

,회차,방송명,식당,주소,방영일,시작,끝,위치,tidy,서울
21,162,맛있는 녀석들,이필당,서울 영등포구 양평동4가 77-3,"'20180330',","'20171230',","'20180628',",영등포/양평,"'이필당' : '영등포/양평',",1
22,163,맛있는 녀석들,고향 양꼬치,서울 광진구 동일로18길 101,"'20180406',","'20180106',","'20180705',",건대/자양,"'고향 양꼬치' : '건대/자양',",1
23,163,맛있는 녀석들,시추안하우스,서울 강남구 테헤란로87길 29,"'20180406',","'20180106',","'20180705',",강남,"'시추안하우스' : '강남',",1
24,164,맛있는 녀석들,속초 생선찜,서울시 은평구 갈현동 431-1,"'20180413',","'20180113',","'20180712',",갈현,"'속초 생선찜' : '갈현',",1
25,164,맛있는 녀석들,전주식당,서울시 종로구 관수동 43-2,"'20180413',","'20180113',","'20180712',",종로/관수,"'전주식당' : '종로/관수',",1

In [31]:
sang3['방송명'] = '생생정보'

In [32]:
sang3.head()

,회차,시작,방영일,끝,식당,입력 데이터,메뉴,주소,서울,tidy,위치,방송명
0,NaN,"'20171004',","'20180102',","'20180402',",전주회관식당,"'전주회관식당',",더덕 흑돼지 구이,전북 진안군 진안읍 마이산로 250,0,"'전주회관식당' :'진안' ,",진안,생생정보
1,NaN,"'20171004',","'20180102',","'20180402',",아삼육,"'아삼육',",수육전골,서울시 중구 청파로 463-17,1,"'아삼육' :'중림' ,",중림,생생정보
2,NaN,"'20171011',","'20180109',","'20180409',",신미가,"'신미가',",갈비낙지짬뽕,전북 무주군 무주읍 무주로 1739,0,"'신미가' :'무주' ,",무주,생생정보
3,NaN,"'20171011',","'20180109',","'20180409',",명계옥,"'명계옥',",문어오리전골,경기 고양시 일산동구 무궁화로 32-21,0,"'명계옥' :'일산' ,",일산,생생정보
4,NaN,"'20171101',","'20180130',","'20180430',",새천년 회대게,"'새천년 회대게',",과메기,경북 포항시 남구 호미곶면 강사리 6번지,0,"'새천년 회대게' :'포항' ,",포항,생생정보

In [33]:
df2 = pd.concat([suyo1, mot1, sang3], sort = False)

In [34]:
df2.tail()

,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소,메뉴
23,NaN,생생정보,"'20180106',","'20180406',","'20180705',",꽃지꽃게집,"'꽃지꽃게집',",NaN,태안/안면도,0,"'꽃지꽃게집' :'태안/안면도' ,",충남 태안군 안면읍 안면대로 3020,게국지 정식
24,NaN,생생정보,"'20180113',","'20180413',","'20180712',",복돈기사식당,"'복돈기사식당',",NaN,사전,1,"'복돈기사식당' :'사전' ,",서울시 송파구 삼전동 36-8번지,장어덮밥
25,NaN,생생정보,"'20180113',","'20180413',","'20180712',",가마솥손두부,"'가마솥손두부',",NaN,사당/대방,1,"'가마솥손두부' :'사당/대방' ,",서울 동작구 남부순환로 271길 20,"청국장, 두부보쌈"
26,NaN,생생정보,"'20180131',","'20180501',","'20180730',",금돼지식당,"'금돼지식당',",NaN,중구,1,"'금돼지식당' :'중구' ,",서울 중구 다산로 149 금돼지식당,삼겹살
27,NaN,생생정보,"'20180131',","'20180501',","'20180730',",목포명가,"'목포명가',",NaN,강남/삼성,1,"'목포명가' :'강남/삼성' ,",서울 강남구 삼성로100길 23-22 목포명가,멍게비빔밥

In [35]:
df2 = df2.reset_index()
df2.tail()

,index,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소,메뉴
73,23,NaN,생생정보,"'20180106',","'20180406',","'20180705',",꽃지꽃게집,"'꽃지꽃게집',",NaN,태안/안면도,0,"'꽃지꽃게집' :'태안/안면도' ,",충남 태안군 안면읍 안면대로 3020,게국지 정식
74,24,NaN,생생정보,"'20180113',","'20180413',","'20180712',",복돈기사식당,"'복돈기사식당',",NaN,사전,1,"'복돈기사식당' :'사전' ,",서울시 송파구 삼전동 36-8번지,장어덮밥
75,25,NaN,생생정보,"'20180113',","'20180413',","'20180712',",가마솥손두부,"'가마솥손두부',",NaN,사당/대방,1,"'가마솥손두부' :'사당/대방' ,",서울 동작구 남부순환로 271길 20,"청국장, 두부보쌈"
76,26,NaN,생생정보,"'20180131',","'20180501',","'20180730',",금돼지식당,"'금돼지식당',",NaN,중구,1,"'금돼지식당' :'중구' ,",서울 중구 다산로 149 금돼지식당,삼겹살
77,27,NaN,생생정보,"'20180131',","'20180501',","'20180730',",목포명가,"'목포명가',",NaN,강남/삼성,1,"'목포명가' :'강남/삼성' ,",서울 강남구 삼성로100길 23-22 목포명가,멍게비빔밥

In [36]:
df2 = df2.drop(['index'], axis=1)
df2.tail()

,회차,방송명,시작,방영일,끝,식당,입력 데이터,업종,위치,서울,tidy,주소,메뉴
73,NaN,생생정보,"'20180106',","'20180406',","'20180705',",꽃지꽃게집,"'꽃지꽃게집',",NaN,태안/안면도,0,"'꽃지꽃게집' :'태안/안면도' ,",충남 태안군 안면읍 안면대로 3020,게국지 정식
74,NaN,생생정보,"'20180113',","'20180413',","'20180712',",복돈기사식당,"'복돈기사식당',",NaN,사전,1,"'복돈기사식당' :'사전' ,",서울시 송파구 삼전동 36-8번지,장어덮밥
75,NaN,생생정보,"'20180113',","'20180413',","'20180712',",가마솥손두부,"'가마솥손두부',",NaN,사당/대방,1,"'가마솥손두부' :'사당/대방' ,",서울 동작구 남부순환로 271길 20,"청국장, 두부보쌈"
76,NaN,생생정보,"'20180131',","'20180501',","'20180730',",금돼지식당,"'금돼지식당',",NaN,중구,1,"'금돼지식당' :'중구' ,",서울 중구 다산로 149 금돼지식당,삼겹살
77,NaN,생생정보,"'20180131',","'20180501',","'20180730',",목포명가,"'목포명가',",NaN,강남/삼성,1,"'목포명가' :'강남/삼성' ,",서울 강남구 삼성로100길 23-22 목포명가,멍게비빔밥

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 13 columns):
회차        50 non-null float64
방송명       78 non-null object
시작        78 non-null object
방영일       78 non-null object
끝         78 non-null object
식당        78 non-null object
입력 데이터    52 non-null object
업종        24 non-null object
위치        78 non-null object
서울        78 non-null int64
tidy      78 non-null object
주소        78 non-null object
메뉴        28 non-null object
dtypes: float64(1), int64(1), object(11)
memory usage: 8.0+ KB

In [38]:
df2 = df2[['식당', '방영일', '서울']]

In [39]:
df2.head()

            식당           방영일  서울
0         말굽버섯  '20180207',    0
1          산비탈  '20180207',    0
2   엘림들깨수제비칼국수  '20180214',    1
3  얼큰한 조벡이 수제비  '20180214',    1
4          우텐더  '20180221',    1

In [40]:
df2['방영월'] = get_month_from_b_date(df2['방영일'])
df2.head()

            식당           방영일  서울  방영월
0         말굽버섯  '20180207',    0    2
1          산비탈  '20180207',    0    2
2   엘림들깨수제비칼국수  '20180214',    1    2
3  얼큰한 조벡이 수제비  '20180214',    1    2
4          우텐더  '20180221',    1    2

In [41]:
df2

             식당           방영일  서울  방영월
0          말굽버섯  '20180207',    0    2
1           산비탈  '20180207',    0    2
2    엘림들깨수제비칼국수  '20180214',    1    2
3   얼큰한 조벡이 수제비  '20180214',    1    2
4           우텐더  '20180221',    1    2
5          삼정하누  '20180221',    1    2
6       남도음식전문점  '20180228',    1    2
7           해남집  '20180228',    1    2
8           몽고네  '20180307',    1    3
9       또이또이베트남  '20180307',    1    3
10      송화산시도삭면  '20180307',    1    3
11        미당순두부  '20180314',    1    3
12       기와집순두부  '20180314',    0    3
13       수영돼지국밥  '20180321',    0    3
14       동부식육식당  '20180321',    0    3
15          옥동식  '20180321',    1    3
16       목포낙지마을  '20180328',    1    3
17    충무로쭈꾸미불고기  '20180328',    1    3
18        우정양곱창  '20180404',    1    4
19       먹거리양곱창  '20180404',    1    4
20        우동가조쿠  '20180411',    1    4
21         미타우동  '20180411',    1    4
22         고암식당  '20180502',    1    5
23       대우부대찌개  '20180502',    1    5
24          봉산옥  '20180105',    1    1
25        가람떡갈비  '20180105',    1    1
26        분짜 라붐  '20180112',    1    1
27    어메이징 타일랜드  '20180112',    1    1
28        마음과마음  '20180202',    1    2
29         교동두부  '20180202',    1    2
..          ...           ...  ..  ...
48       속초 생선찜  '20180413',    1    4
49         전주식당  '20180413',    1    4
50       전주회관식당  '20180102',    0    1
51          아삼육  '20180102',    1    1
52          신미가  '20180109',    0    1
53          명계옥  '20180109',    0    1
54      새천년 회대게  '20180130',    0    1
55       도담청시래기  '20180130',    0    1
56      동경전통육개장  '20180207',    1    2
57        용궁칼국수  '20180207',    0    2
58          우마왕  '20180212',    0    2
59           갱생  '20180212',    1    2
60       불티나손만두  '20180219',    1    2
61          하얀집  '20180219',    0    2
62       후라토 식당  '20180226',    1    2
63       화진포막국수  '20180226',    1    2
64         천하장사  '20180308',    0    3
65       3일한우국밥  '20180308',    1    3
66         바다횟집  '20180315',    0    3
67           미옌  '20180315',    0    3
68       가마솥 족발  '20180322',    0    3
69      육, 낙, 꽃  '20180322',    1    3
70    현호네 매운갈비찜  '20180329',    0    3
71    깔레소나무장작구이  '20180329',    0    3
72       태봉한우면옥  '20180406',    0    4
73        꽃지꽃게집  '20180406',    0    4
74       복돈기사식당  '20180413',    1    4
75       가마솥손두부  '20180413',    1    4
76        금돼지식당  '20180501',    1    5
77         목포명가  '20180501',    1    5

[78 rows x 4 columns]

In [42]:
df2 = df2.drop(['방영일'], axis=1)
df2.head()

            식당  서울  방영월
0         말굽버섯   0    2
1          산비탈   0    2
2   엘림들깨수제비칼국수   1    2
3  얼큰한 조벡이 수제비   1    2
4          우텐더   1    2

In [43]:
df2.to_csv('raw_data/list2018.csv', index=False)

In [44]:
lst = pd.concat([df1, df2], sort = False)

In [45]:
lst.tail()

        식당  서울  방영월
73   꽃지꽃게집   0    4
74  복돈기사식당   1    4
75  가마솥손두부   1    4
76   금돼지식당   1    5
77    목포명가   1    5

In [46]:
lst.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324 entries, 0 to 77
Data columns (total 3 columns):
식당     324 non-null object
서울     324 non-null int64
방영월    324 non-null int64
dtypes: int64(2), object(1)
memory usage: 10.1+ KB

In [47]:
lst = lst.reset_index().drop(['index'], axis=1)
lst.tail()

         식당  서울  방영월
319   꽃지꽃게집   0    4
320  복돈기사식당   1    4
321  가마솥손두부   1    4
322   금돼지식당   1    5
323    목포명가   1    5

In [48]:
lst.to_csv('raw_data/list.csv', index=False)

#### 기존 데이터와 합치기

In [49]:
tidy = pd.read_csv('raw_data/total_tidy.csv')

In [50]:
lst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 3 columns):
식당     324 non-null object
서울     324 non-null int64
방영월    324 non-null int64
dtypes: int64(2), object(1)
memory usage: 7.7+ KB

In [51]:
tidy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33079 entries, 0 to 33078
Data columns (total 7 columns):
방송           33079 non-null object
식당           33079 non-null object
방영일          33079 non-null object
days_diff    33079 non-null int64
지역           33079 non-null object
방영전          33079 non-null int64
방영후          33079 non-null int64
dtypes: int64(3), object(4)
memory usage: 1.8+ MB

In [52]:
reg = pd.DataFrame(tidy.groupby(['식당', '방송'])['방영전', '방영후'].sum()).reset_index()

In [53]:
reg['증가'] = reg['방영후'] - reg['방영전']
reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 5 columns):
식당     319 non-null object
방송     319 non-null object
방영전    319 non-null int64
방영후    319 non-null int64
증가     319 non-null int64
dtypes: int64(3), object(2)
memory usage: 12.5+ KB

lst와 reg의 데이터 개수가 맞지 않음

In [54]:
lst = lst[lst.식당.isin(reg.식당.values)].reset_index().drop(['index'], axis=1)
lst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 3 columns):
식당     319 non-null object
서울     319 non-null int64
방영월    319 non-null int64
dtypes: int64(2), object(1)
memory usage: 7.6+ KB

In [55]:
df = pd.merge(reg, lst, on='식당')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 0 to 322
Data columns (total 7 columns):
식당     323 non-null object
방송     323 non-null object
방영전    323 non-null int64
방영후    323 non-null int64
증가     323 non-null int64
서울     323 non-null int64
방영월    323 non-null int64
dtypes: int64(5), object(2)
memory usage: 20.2+ KB

합쳤더니 df 데이터 개수가 늘어남

아무래도 방송별로 중복된 식당이 있는 것 같음

In [57]:
df.groupby('식당')['방영월'].value_counts().loc[lambda x: x>1].reset_index(name='count')

      식당  방영월  count
0   미타우동    4      2
1   미타우동   11      2
2  주은감자탕    3      2
3  주은감자탕    4      2

In [58]:
tidy.loc[tidy['식당']=='미타우동']

           방송    식당         방영일  days_diff        지역  방영전  방영후
19499  맛있는녀석들  미타우동  2017-11-10        -50  신천/잠실/삼전    1    0
19500  맛있는녀석들  미타우동  2017-11-10        -80  신천/잠실/삼전    1    0
19501  맛있는녀석들  미타우동  2017-11-10        -61  신천/잠실/삼전    1    0
19502  맛있는녀석들  미타우동  2017-11-10          5  신천/잠실/삼전    0    1
19503  맛있는녀석들  미타우동  2017-11-10         62  신천/잠실/삼전    0    1
19504  맛있는녀석들  미타우동  2017-11-10         23  신천/잠실/삼전    0    1
19505  맛있는녀석들  미타우동  2017-11-10         55  신천/잠실/삼전    0    1
19506  맛있는녀석들  미타우동  2017-11-10        -45  신천/잠실/삼전    1    0
19507  맛있는녀석들  미타우동  2017-11-10        -66  신천/잠실/삼전    1    0
19508  맛있는녀석들  미타우동  2017-11-10        -43  신천/잠실/삼전    1    0
19509  맛있는녀석들  미타우동  2017-11-10         59  신천/잠실/삼전    0    1
19510  맛있는녀석들  미타우동  2017-11-10        -29  신천/잠실/삼전    1    0
19511  맛있는녀석들  미타우동  2017-11-10         -8  신천/잠실/삼전    1    0
19512  맛있는녀석들  미타우동  2017-11-10        -70  신천/잠실/삼전    1    0
19513  맛있는녀석들  미타우동  2017-11-10        -20  신천/잠실/삼전    1    0
19514  맛있는녀석들  미타우동  2017-11-10          0  신천/잠실/삼전    0    1
19515  맛있는녀석들  미타우동  2017-11-10        -10  신천/잠실/삼전    1    0
19516  맛있는녀석들  미타우동  2017-11-10         35  신천/잠실/삼전    0    1
19517  맛있는녀석들  미타우동  2017-11-10        -51  신천/잠실/삼전    1    0
19518  맛있는녀석들  미타우동  2017-11-10          6  신천/잠실/삼전    0    1
19519  맛있는녀석들  미타우동  2017-11-10         11  신천/잠실/삼전    0    1
19520  맛있는녀석들  미타우동  2017-11-10        -17  신천/잠실/삼전    1    0
19521  맛있는녀석들  미타우동  2017-11-10         89  신천/잠실/삼전    0    1
19522  맛있는녀석들  미타우동  2017-11-10         83  신천/잠실/삼전    0    1
19523  맛있는녀석들  미타우동  2017-11-10          1  신천/잠실/삼전    0    1
19524  맛있는녀석들  미타우동  2017-11-10         14  신천/잠실/삼전    0    1
19525  맛있는녀석들  미타우동  2017-11-10         -4  신천/잠실/삼전    1    0
19526  맛있는녀석들  미타우동  2017-11-10        -85  신천/잠실/삼전    1    0
19527  맛있는녀석들  미타우동  2017-11-10          3  신천/잠실/삼전    0    1
19528  맛있는녀석들  미타우동  2017-11-10        -81  신천/잠실/삼전    1    0
...       ...   ...         ...        ...       ...  ...  ...
30051   수요미식회  미타우동  2018-04-11        -74     삼전/잠실    1    0
30052   수요미식회  미타우동  2018-04-11          1     삼전/잠실    0    1
30053   수요미식회  미타우동  2018-04-11         70     삼전/잠실    0    1
30054   수요미식회  미타우동  2018-04-11          1     삼전/잠실    0    1
30055   수요미식회  미타우동  2018-04-11          0     삼전/잠실    0    1
30056   수요미식회  미타우동  2018-04-11          7     삼전/잠실    0    1
30057   수요미식회  미타우동  2018-04-11          8     삼전/잠실    0    1
30058   수요미식회  미타우동  2018-04-11        -36     삼전/잠실    1    0
30059   수요미식회  미타우동  2018-04-11         73     삼전/잠실    0    1
30060   수요미식회  미타우동  2018-04-11          9     삼전/잠실    0    1
30061   수요미식회  미타우동  2018-04-11         16     삼전/잠실    0    1
30062   수요미식회  미타우동  2018-04-11        -14     삼전/잠실    1    0
30063   수요미식회  미타우동  2018-04-11          7     삼전/잠실    0    1
30064   수요미식회  미타우동  2018-04-11         38     삼전/잠실    0    1
30065   수요미식회  미타우동  2018-04-11         -9     삼전/잠실    1    0
30066   수요미식회  미타우동  2018-04-11         72     삼전/잠실    0    1
30067   수요미식회  미타우동  2018-04-11        -21     삼전/잠실    1    0
30068   수요미식회  미타우동  2018-04-11        -84     삼전/잠실    1    0
30069   수요미식회  미타우동  2018-04-11        -37     삼전/잠실    1    0
30070   수요미식회  미타우동  2018-04-11         11     삼전/잠실    0    1
30071   수요미식회  미타우동  2018-04-11         21     삼전/잠실    0    1
30072   수요미식회  미타우동  2018-04-11         28     삼전/잠실    0    1
30073   수요미식회  미타우동  2018-04-11         30     삼전/잠실    0    1
30074   수요미식회  미타우동  2018-04-11          1     삼전/잠실    0    1
30075   수요미식회  미타우동  2018-04-11        -55     삼전/잠실    1    0
30076   수요미식회  미타우동  2018-04-11        -18     삼전/잠실    1    0
30077   수요미식회  미타우동  2018-04-11         21     삼전/잠실    0    1
30078   수요미식회  미타우동  2018-04-11         76     삼전/잠실    0    1
30079   수요미식회  미타우동  2018-04-11        -57     삼전/잠실    1    0
30080   수요미식회  미타우동  2018-04-11          8     삼전/잠실    0    1

[185 rows x 7 columns]

미타우동이 수요미식회에 방영됐을 때는, 이미 맛있는녀석들 방영의 영향력을 받았을 것이기 때문에 데이터를 삭제하기로 함

In [59]:
tidy = tidy[~((tidy['식당']=='미타우동')&(tidy['방송']=='수요미식회'))]

In [60]:
tidy.loc[tidy['식당']=='미타우동']

           방송    식당         방영일  days_diff        지역  방영전  방영후
19499  맛있는녀석들  미타우동  2017-11-10        -50  신천/잠실/삼전    1    0
19500  맛있는녀석들  미타우동  2017-11-10        -80  신천/잠실/삼전    1    0
19501  맛있는녀석들  미타우동  2017-11-10        -61  신천/잠실/삼전    1    0
19502  맛있는녀석들  미타우동  2017-11-10          5  신천/잠실/삼전    0    1
19503  맛있는녀석들  미타우동  2017-11-10         62  신천/잠실/삼전    0    1
19504  맛있는녀석들  미타우동  2017-11-10         23  신천/잠실/삼전    0    1
19505  맛있는녀석들  미타우동  2017-11-10         55  신천/잠실/삼전    0    1
19506  맛있는녀석들  미타우동  2017-11-10        -45  신천/잠실/삼전    1    0
19507  맛있는녀석들  미타우동  2017-11-10        -66  신천/잠실/삼전    1    0
19508  맛있는녀석들  미타우동  2017-11-10        -43  신천/잠실/삼전    1    0
19509  맛있는녀석들  미타우동  2017-11-10         59  신천/잠실/삼전    0    1
19510  맛있는녀석들  미타우동  2017-11-10        -29  신천/잠실/삼전    1    0
19511  맛있는녀석들  미타우동  2017-11-10         -8  신천/잠실/삼전    1    0
19512  맛있는녀석들  미타우동  2017-11-10        -70  신천/잠실/삼전    1    0
19513  맛있는녀석들  미타우동  2017-11-10        -20  신천/잠실/삼전    1    0
19514  맛있는녀석들  미타우동  2017-11-10          0  신천/잠실/삼전    0    1
19515  맛있는녀석들  미타우동  2017-11-10        -10  신천/잠실/삼전    1    0
19516  맛있는녀석들  미타우동  2017-11-10         35  신천/잠실/삼전    0    1
19517  맛있는녀석들  미타우동  2017-11-10        -51  신천/잠실/삼전    1    0
19518  맛있는녀석들  미타우동  2017-11-10          6  신천/잠실/삼전    0    1
19519  맛있는녀석들  미타우동  2017-11-10         11  신천/잠실/삼전    0    1
19520  맛있는녀석들  미타우동  2017-11-10        -17  신천/잠실/삼전    1    0
19521  맛있는녀석들  미타우동  2017-11-10         89  신천/잠실/삼전    0    1
19522  맛있는녀석들  미타우동  2017-11-10         83  신천/잠실/삼전    0    1
19523  맛있는녀석들  미타우동  2017-11-10          1  신천/잠실/삼전    0    1
19524  맛있는녀석들  미타우동  2017-11-10         14  신천/잠실/삼전    0    1
19525  맛있는녀석들  미타우동  2017-11-10         -4  신천/잠실/삼전    1    0
19526  맛있는녀석들  미타우동  2017-11-10        -85  신천/잠실/삼전    1    0
19527  맛있는녀석들  미타우동  2017-11-10          3  신천/잠실/삼전    0    1
19528  맛있는녀석들  미타우동  2017-11-10        -81  신천/잠실/삼전    1    0
...       ...   ...         ...        ...       ...  ...  ...
19541  맛있는녀석들  미타우동  2017-11-10         14  신천/잠실/삼전    0    1
19542  맛있는녀석들  미타우동  2017-11-10        -13  신천/잠실/삼전    1    0
19543  맛있는녀석들  미타우동  2017-11-10         30  신천/잠실/삼전    0    1
19544  맛있는녀석들  미타우동  2017-11-10         27  신천/잠실/삼전    0    1
19545  맛있는녀석들  미타우동  2017-11-10         58  신천/잠실/삼전    0    1
19546  맛있는녀석들  미타우동  2017-11-10        -21  신천/잠실/삼전    1    0
19547  맛있는녀석들  미타우동  2017-11-10        -78  신천/잠실/삼전    1    0
19548  맛있는녀석들  미타우동  2017-11-10          2  신천/잠실/삼전    0    1
19549  맛있는녀석들  미타우동  2017-11-10          0  신천/잠실/삼전    0    1
19550  맛있는녀석들  미타우동  2017-11-10         31  신천/잠실/삼전    0    1
19551  맛있는녀석들  미타우동  2017-11-10          1  신천/잠실/삼전    0    1
19552  맛있는녀석들  미타우동  2017-11-10          5  신천/잠실/삼전    0    1
19553  맛있는녀석들  미타우동  2017-11-10          3  신천/잠실/삼전    0    1
19554  맛있는녀석들  미타우동  2017-11-10        -30  신천/잠실/삼전    1    0
19555  맛있는녀석들  미타우동  2017-11-10         13  신천/잠실/삼전    0    1
19556  맛있는녀석들  미타우동  2017-11-10        -78  신천/잠실/삼전    1    0
19557  맛있는녀석들  미타우동  2017-11-10        -86  신천/잠실/삼전    1    0
19558  맛있는녀석들  미타우동  2017-11-10          0  신천/잠실/삼전    0    1
19559  맛있는녀석들  미타우동  2017-11-10          2  신천/잠실/삼전    0    1
19560  맛있는녀석들  미타우동  2017-11-10          3  신천/잠실/삼전    0    1
19561  맛있는녀석들  미타우동  2017-11-10        -14  신천/잠실/삼전    1    0
19562  맛있는녀석들  미타우동  2017-11-10        -57  신천/잠실/삼전    1    0
19563  맛있는녀석들  미타우동  2017-11-10         68  신천/잠실/삼전    0    1
19564  맛있는녀석들  미타우동  2017-11-10         58  신천/잠실/삼전    0    1
19565  맛있는녀석들  미타우동  2017-11-10        -53  신천/잠실/삼전    1    0
19566  맛있는녀석들  미타우동  2017-11-10         -3  신천/잠실/삼전    1    0
19567  맛있는녀석들  미타우동  2017-11-10         38  신천/잠실/삼전    0    1
19568  맛있는녀석들  미타우동  2017-11-10         15  신천/잠실/삼전    0    1
19569  맛있는녀석들  미타우동  2017-11-10         13  신천/잠실/삼전    0    1
19570  맛있는녀석들  미타우동  2017-11-10         17  신천/잠실/삼전    0    1

[72 rows x 7 columns]

In [61]:
lst = lst[~((lst['식당']=='미타우동')&(lst['방영월']==4))]
lst.head()

        식당  서울  방영월
0      오통영   1    1
1      안동장   1    1
2      평양집   1    1
3    까사디노아   1    1
4  덕자네 방앗간   1    2

In [62]:
lst = lst.reset_index().drop(['index'], axis=1)
lst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 3 columns):
식당     318 non-null object
서울     318 non-null int64
방영월    318 non-null int64
dtypes: int64(2), object(1)
memory usage: 7.5+ KB

In [64]:
tidy.loc[tidy['식당']=='주은감자탕']

           방송     식당         방영일  days_diff        지역  방영전  방영후
7765    수요미식회  주은감자탕  2017-04-19         51  잠실/송파/삼전    0    1
7766    수요미식회  주은감자탕  2017-04-19         35  잠실/송파/삼전    0    1
7767    수요미식회  주은감자탕  2017-04-19          6  잠실/송파/삼전    0    1
7768    수요미식회  주은감자탕  2017-04-19         29  잠실/송파/삼전    0    1
7769    수요미식회  주은감자탕  2017-04-19         52  잠실/송파/삼전    0    1
7770    수요미식회  주은감자탕  2017-04-19         57  잠실/송파/삼전    0    1
7771    수요미식회  주은감자탕  2017-04-19          0  잠실/송파/삼전    0    1
7772    수요미식회  주은감자탕  2017-04-19         23  잠실/송파/삼전    0    1
7773    수요미식회  주은감자탕  2017-04-19          0  잠실/송파/삼전    0    1
7774    수요미식회  주은감자탕  2017-04-19          2  잠실/송파/삼전    0    1
7775    수요미식회  주은감자탕  2017-04-19         26  잠실/송파/삼전    0    1
7776    수요미식회  주은감자탕  2017-04-19         68  잠실/송파/삼전    0    1
7777    수요미식회  주은감자탕  2017-04-19         23  잠실/송파/삼전    0    1
7778    수요미식회  주은감자탕  2017-04-19         -1  잠실/송파/삼전    1    0
7779    수요미식회  주은감자탕  2017-04-19          7  잠실/송파/삼전    0    1
7780    수요미식회  주은감자탕  2017-04-19          9  잠실/송파/삼전    0    1
7781    수요미식회  주은감자탕  2017-04-19         68  잠실/송파/삼전    0    1
7782    수요미식회  주은감자탕  2017-04-19          3  잠실/송파/삼전    0    1
7783    수요미식회  주은감자탕  2017-04-19          2  잠실/송파/삼전    0    1
7784    수요미식회  주은감자탕  2017-04-19         14  잠실/송파/삼전    0    1
7785    수요미식회  주은감자탕  2017-04-19         27  잠실/송파/삼전    0    1
7786    수요미식회  주은감자탕  2017-04-19         40  잠실/송파/삼전    0    1
7787    수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7788    수요미식회  주은감자탕  2017-04-19         17  잠실/송파/삼전    0    1
7789    수요미식회  주은감자탕  2017-04-19         44  잠실/송파/삼전    0    1
7790    수요미식회  주은감자탕  2017-04-19         43  잠실/송파/삼전    0    1
7791    수요미식회  주은감자탕  2017-04-19          6  잠실/송파/삼전    0    1
7792    수요미식회  주은감자탕  2017-04-19         75  잠실/송파/삼전    0    1
7793    수요미식회  주은감자탕  2017-04-19         20  잠실/송파/삼전    0    1
7794    수요미식회  주은감자탕  2017-04-19         83  잠실/송파/삼전    0    1
...       ...    ...         ...        ...       ...  ...  ...
32794  맛있는녀석들  주은감자탕  2018-03-30        -75     잠실/삼전    1    0
32795  맛있는녀석들  주은감자탕  2018-03-30          7     잠실/삼전    0    1
32796  맛있는녀석들  주은감자탕  2018-03-30        -88     잠실/삼전    1    0
32797  맛있는녀석들  주은감자탕  2018-03-30         20     잠실/삼전    0    1
32798  맛있는녀석들  주은감자탕  2018-03-30        -64     잠실/삼전    1    0
32799  맛있는녀석들  주은감자탕  2018-03-30        -38     잠실/삼전    1    0
32800  맛있는녀석들  주은감자탕  2018-03-30        -48     잠실/삼전    1    0
32801  맛있는녀석들  주은감자탕  2018-03-30        -17     잠실/삼전    1    0
32802  맛있는녀석들  주은감자탕  2018-03-30        -64     잠실/삼전    1    0
32803  맛있는녀석들  주은감자탕  2018-03-30        -60     잠실/삼전    1    0
32804  맛있는녀석들  주은감자탕  2018-03-30         66     잠실/삼전    0    1
32805  맛있는녀석들  주은감자탕  2018-03-30        -53     잠실/삼전    1    0
32806  맛있는녀석들  주은감자탕  2018-03-30         65     잠실/삼전    0    1
32807  맛있는녀석들  주은감자탕  2018-03-30          2     잠실/삼전    0    1
32808  맛있는녀석들  주은감자탕  2018-03-30          1     잠실/삼전    0    1
32809  맛있는녀석들  주은감자탕  2018-03-30          1     잠실/삼전    0    1
32810  맛있는녀석들  주은감자탕  2018-03-30          0     잠실/삼전    0    1
32811  맛있는녀석들  주은감자탕  2018-03-30        -74     잠실/삼전    1    0
32812  맛있는녀석들  주은감자탕  2018-03-30        -35     잠실/삼전    1    0
32813  맛있는녀석들  주은감자탕  2018-03-30         52     잠실/삼전    0    1
32814  맛있는녀석들  주은감자탕  2018-03-30        -53     잠실/삼전    1    0
32815  맛있는녀석들  주은감자탕  2018-03-30         90     잠실/삼전    0    1
32816  맛있는녀석들  주은감자탕  2018-03-30        -25     잠실/삼전    1    0
32817  맛있는녀석들  주은감자탕  2018-03-30         39     잠실/삼전    0    1
32818  맛있는녀석들  주은감자탕  2018-03-30          7     잠실/삼전    0    1
32819  맛있는녀석들  주은감자탕  2018-03-30        -26     잠실/삼전    1    0
32820  맛있는녀석들  주은감자탕  2018-03-30        -36     잠실/삼전    1    0
32821  맛있는녀석들  주은감자탕  2018-03-30         42     잠실/삼전    0    1
32822  맛있는녀석들  주은감자탕  2018-03-30         40     잠실/삼전    0    1
32823  맛있는녀석들  주은감자탕  2018-03-30         32     잠실/삼전    0    1

[279 rows x 7 columns]

주은감자탕의 경우, 수요미식회에 먼저 방영이 됐기 때문에 맛있는녀석들의 데이터를 제외하기로 함

In [65]:
tidy = tidy[~((tidy['식당']=='주은감자탕')&(tidy['방송']=='맛있는녀석들'))]

In [66]:
tidy.loc[tidy['식당']=='주은감자탕']

         방송     식당         방영일  days_diff        지역  방영전  방영후
7765  수요미식회  주은감자탕  2017-04-19         51  잠실/송파/삼전    0    1
7766  수요미식회  주은감자탕  2017-04-19         35  잠실/송파/삼전    0    1
7767  수요미식회  주은감자탕  2017-04-19          6  잠실/송파/삼전    0    1
7768  수요미식회  주은감자탕  2017-04-19         29  잠실/송파/삼전    0    1
7769  수요미식회  주은감자탕  2017-04-19         52  잠실/송파/삼전    0    1
7770  수요미식회  주은감자탕  2017-04-19         57  잠실/송파/삼전    0    1
7771  수요미식회  주은감자탕  2017-04-19          0  잠실/송파/삼전    0    1
7772  수요미식회  주은감자탕  2017-04-19         23  잠실/송파/삼전    0    1
7773  수요미식회  주은감자탕  2017-04-19          0  잠실/송파/삼전    0    1
7774  수요미식회  주은감자탕  2017-04-19          2  잠실/송파/삼전    0    1
7775  수요미식회  주은감자탕  2017-04-19         26  잠실/송파/삼전    0    1
7776  수요미식회  주은감자탕  2017-04-19         68  잠실/송파/삼전    0    1
7777  수요미식회  주은감자탕  2017-04-19         23  잠실/송파/삼전    0    1
7778  수요미식회  주은감자탕  2017-04-19         -1  잠실/송파/삼전    1    0
7779  수요미식회  주은감자탕  2017-04-19          7  잠실/송파/삼전    0    1
7780  수요미식회  주은감자탕  2017-04-19          9  잠실/송파/삼전    0    1
7781  수요미식회  주은감자탕  2017-04-19         68  잠실/송파/삼전    0    1
7782  수요미식회  주은감자탕  2017-04-19          3  잠실/송파/삼전    0    1
7783  수요미식회  주은감자탕  2017-04-19          2  잠실/송파/삼전    0    1
7784  수요미식회  주은감자탕  2017-04-19         14  잠실/송파/삼전    0    1
7785  수요미식회  주은감자탕  2017-04-19         27  잠실/송파/삼전    0    1
7786  수요미식회  주은감자탕  2017-04-19         40  잠실/송파/삼전    0    1
7787  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7788  수요미식회  주은감자탕  2017-04-19         17  잠실/송파/삼전    0    1
7789  수요미식회  주은감자탕  2017-04-19         44  잠실/송파/삼전    0    1
7790  수요미식회  주은감자탕  2017-04-19         43  잠실/송파/삼전    0    1
7791  수요미식회  주은감자탕  2017-04-19          6  잠실/송파/삼전    0    1
7792  수요미식회  주은감자탕  2017-04-19         75  잠실/송파/삼전    0    1
7793  수요미식회  주은감자탕  2017-04-19         20  잠실/송파/삼전    0    1
7794  수요미식회  주은감자탕  2017-04-19         83  잠실/송파/삼전    0    1
...     ...    ...         ...        ...       ...  ...  ...
7898  수요미식회  주은감자탕  2017-04-19         28  잠실/송파/삼전    0    1
7899  수요미식회  주은감자탕  2017-04-19          0  잠실/송파/삼전    0    1
7900  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7901  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7902  수요미식회  주은감자탕  2017-04-19         -1  잠실/송파/삼전    1    0
7903  수요미식회  주은감자탕  2017-04-19          5  잠실/송파/삼전    0    1
7904  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7905  수요미식회  주은감자탕  2017-04-19         15  잠실/송파/삼전    0    1
7906  수요미식회  주은감자탕  2017-04-19         16  잠실/송파/삼전    0    1
7907  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7908  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7909  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1
7910  수요미식회  주은감자탕  2017-04-19         49  잠실/송파/삼전    0    1
7911  수요미식회  주은감자탕  2017-04-19        -56  잠실/송파/삼전    1    0
7912  수요미식회  주은감자탕  2017-04-19          3  잠실/송파/삼전    0    1
7913  수요미식회  주은감자탕  2017-04-19         87  잠실/송파/삼전    0    1
7914  수요미식회  주은감자탕  2017-04-19         83  잠실/송파/삼전    0    1
7915  수요미식회  주은감자탕  2017-04-19         13  잠실/송파/삼전    0    1
7916  수요미식회  주은감자탕  2017-04-19         42  잠실/송파/삼전    0    1
7917  수요미식회  주은감자탕  2017-04-19         49  잠실/송파/삼전    0    1
7918  수요미식회  주은감자탕  2017-04-19        -42  잠실/송파/삼전    1    0
7919  수요미식회  주은감자탕  2017-04-19         35  잠실/송파/삼전    0    1
7920  수요미식회  주은감자탕  2017-04-19         61  잠실/송파/삼전    0    1
7921  수요미식회  주은감자탕  2017-04-19         44  잠실/송파/삼전    0    1
7922  수요미식회  주은감자탕  2017-04-19          7  잠실/송파/삼전    0    1
7923  수요미식회  주은감자탕  2017-04-19         23  잠실/송파/삼전    0    1
7924  수요미식회  주은감자탕  2017-04-19          4  잠실/송파/삼전    0    1
7925  수요미식회  주은감자탕  2017-04-19         36  잠실/송파/삼전    0    1
7926  수요미식회  주은감자탕  2017-04-19         27  잠실/송파/삼전    0    1
7927  수요미식회  주은감자탕  2017-04-19          1  잠실/송파/삼전    0    1

[163 rows x 7 columns]

In [67]:
lst = lst[~((lst['식당']=='주은감자탕')&(lst['방영월']==3))]
lst.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 317
Data columns (total 3 columns):
식당     317 non-null object
서울     317 non-null int64
방영월    317 non-null int64
dtypes: int64(2), object(1)
memory usage: 9.9+ KB

In [68]:
reg = pd.DataFrame(tidy.groupby(['식당', '방송'])['방영전', '방영후'].sum()).reset_index()

In [69]:
reg['증가'] = reg['방영후'] - reg['방영전']

In [70]:
reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 5 columns):
식당     317 non-null object
방송     317 non-null object
방영전    317 non-null int64
방영후    317 non-null int64
증가     317 non-null int64
dtypes: int64(3), object(2)
memory usage: 12.5+ KB

In [71]:
reg.tail()

         식당      방송  방영전  방영후  증가
312    화선횟집   수요미식회    9   52  43
313     화수목  맛있는녀석들   32   41   9
314  화진포막국수    생생정보   11   42  31
315    황금복국  맛있는녀석들    6   29  23
316  후라토 식당    생생정보   36   61  25

In [72]:
lst.tail()

         식당  서울  방영월
313   꽃지꽃게집   0    4
314  복돈기사식당   1    4
315  가마솥손두부   1    4
316   금돼지식당   1    5
317    목포명가   1    5

In [76]:
lst = lst[lst.식당.isin(reg.식당.values)].reset_index().drop(['index'], axis=1)
lst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 3 columns):
식당     317 non-null object
서울     317 non-null int64
방영월    317 non-null int64
dtypes: int64(2), object(1)
memory usage: 7.5+ KB

In [77]:
lst.tail()

         식당  서울  방영월
312   꽃지꽃게집   0    4
313  복돈기사식당   1    4
314  가마솥손두부   1    4
315   금돼지식당   1    5
316    목포명가   1    5

In [80]:
lst.to_csv('raw_data/list_tidy.csv', index=False)
tidy.to_csv('raw_data/total_tidy2.csv', index=False)

In [78]:
df = pd.merge(reg, lst, on='식당')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 316
Data columns (total 7 columns):
식당     317 non-null object
방송     317 non-null object
방영전    317 non-null int64
방영후    317 non-null int64
증가     317 non-null int64
서울     317 non-null int64
방영월    317 non-null int64
dtypes: int64(5), object(2)
memory usage: 19.8+ KB

In [79]:
df.tail()

         식당      방송  방영전  방영후  증가  서울  방영월
312    화선횟집   수요미식회    9   52  43   0    8
313     화수목  맛있는녀석들   32   41   9   0    2
314  화진포막국수    생생정보   11   42  31   1    2
315    황금복국  맛있는녀석들    6   29  23   1    8
316  후라토 식당    생생정보   36   61  25   1    2

In [81]:
df.to_csv('raw_data/reg.csv', index=False)